.favSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top:30px;
    padding-top:30px;
    background-image: linear-gradient(90deg,#ed2931 0,#f95a3e);
    &-title{
        text-transform: uppercase;
    }
    &-clearCount{
        width: 97%;
        display:flex;
        justify-content: space-between;
        &-p{
            text-align: center;
        }
    }
    &-pickedReleases{
        display:flex;
        flex-direction: column;
        align-items: center;
        &-list{
            list-style: none;
            display:flex;
            flex-wrap: wrap;
            &-item{
                margin: 30px;
            }
        }
        
    }
}