.releases {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    @media all and (max-width: 568px) {
      justify-content: center;
      padding: 0;
    }
  }
}
