@import "layout/releasesList";
@import "layout/item";
@import "layout/header";
@import "layout/favList";
@import "layout/releaseDetail";

* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
}
body {
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  background-color: black;
  color: white;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
