@import "layout/releasesList";
@import "layout/item";


* {
  box-sizing: border-box;
  outline: none;
}
body{
  font-family: 'Montserrat',"Helvetica", "Arial", sans-serif;
  background-color: black;
  color:white;
}
